@model SupplyTrackerMVC.Application.ViewModels.ProductVm.UpdateProductVm

@{
    ViewData["Title"] = "Update Product";
}

<div class="container my-4">
    <h1 class="mb-4">Update Product</h1>
    <h4 class="mb-3">Update Product Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="UpdateProduct">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <span asp-validation-for="Id" class="text-danger"></span>

                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group form-check mb-3">
                    <input class="form-check-input" asp-for="isActive" />
                    <label class="form-check-label" asp-for="isActive"></label>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="ProductType" class="control-label">Select Product Type</label>
                    <select asp-for="ProductTypeId" class="form-control"
                            asp-items="@(new SelectList(Model.ProductType.ProductTypes, "Id", "Description"))">
                    </select>
                    <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="ProductDetail.ChemicalSymbol" class="control-label"></label>
                    <input asp-for="ProductDetail.ChemicalSymbol" class="form-control" />
                    <span asp-validation-for="ProductDetail.ChemicalSymbol" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="ProductDetail.ChemicalName" class="control-label"></label>
                    <input asp-for="ProductDetail.ChemicalName" class="form-control" />
                    <span asp-validation-for="ProductDetail.ChemicalName" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="ProductDetail.MassFraction" class="control-label"></label>
                    <input asp-for="ProductDetail.MassFraction" class="form-control" />
                    <span asp-validation-for="ProductDetail.MassFraction" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="ProductDetail.ProductDescription" class="control-label"></label>
                    <textarea asp-for="ProductDetail.ProductDescription" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="ProductDetail.ProductDescription" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="mt-4">
        <a asp-controller="Product" asp-action="ViewProductList" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
