@model SupplyTrackerMVC.Application.ViewModels.ReceiverVm.NewReceiverBranchVm

@{
    ViewData["Title"] = "AddReceiverBranch";
}

<h1>AddReceiverBranch</h1>

<h4>NewReceiverBranchVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddReceiverBranch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset>
                <legend>Branch Main Information</legend>
                <input asp-for="Id" type="hidden" />
                <span asp-validation-for="Id" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="ReceiverSelectedId" class="control-label"></label>
                    <select asp-for="ReceiverSelectedId" class="form-control" asp-items="@(new SelectList(Model.ReceiverSelectList.Receivers, "Id", "Name"))">
                        <option value="">--- Select Receiver ---</option>
                    </select>
                    <span asp-validation-for="ReceiverSelectedId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BranchInternalID" class="control-label"></label>
                    <input asp-for="BranchInternalID" class="form-control" />
                    <span asp-validation-for="BranchInternalID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BranchAlias" class="control-label"></label>
                    <input asp-for="BranchAlias" class="form-control" />
                    <span asp-validation-for="BranchAlias" class="text-danger"></span>
                </div>
            </fieldset>

            <fieldset>
                <legend>Branch Address Informaton</legend>
                <input asp-for="AddressId" type="hidden" />
                <span asp-validation-for="AddressId" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="NewAddressForReceiverBranch.Street" class="control-label"></label>
                    <input asp-for="NewAddressForReceiverBranch.Street" class="form-control" />
                    <span asp-validation-for="NewAddressForReceiverBranch.Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewAddressForReceiverBranch.City" class="control-label"></label>
                    <input asp-for="NewAddressForReceiverBranch.City" class="form-control" />
                    <span asp-validation-for="NewAddressForReceiverBranch.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewAddressForReceiverBranch.ZIP" class="control-label"></label>
                    <input asp-for="NewAddressForReceiverBranch.ZIP" class="form-control" />
                    <span asp-validation-for="NewAddressForReceiverBranch.ZIP" class="text-danger"></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Branch Contact Information</legend>
                <input asp-for="ContactId" type="hidden" />
                <span asp-validation-for="ContactId" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="NewContactForReceiverBranch.FirstName" class="control-label"></label>
                    <input asp-for="NewContactForReceiverBranch.FirstName" class="form-control" />
                    <span asp-validation-for="NewContactForReceiverBranch.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewContactForReceiverBranch.LastName" class="control-label"></label>
                    <input asp-for="NewContactForReceiverBranch.LastName" class="form-control" />
                    <span asp-validation-for="NewContactForReceiverBranch.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewContactForReceiverBranch.Role" class="control-label"></label>
                    <input asp-for="NewContactForReceiverBranch.Role" class="form-control" />
                    <span asp-validation-for="NewContactForReceiverBranch.Role" class="text-danger"></span>
                </div>
                    <input asp-for="NewContactForReceiverBranch.ContactDetailVm.Id" type="hidden" />
                    <span asp-validation-for="NewContactForReceiverBranch.ContactDetailVm.Id" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="NewContactForReceiverBranch.ContactDetailVm.ContactDetailTypeId" class="control-label"></label>
                    <select asp-for="NewContactForReceiverBranch.ContactDetailVm.ContactDetailTypeId" class="form-control" asp-items="@(new SelectList(Model.NewContactForReceiverBranch.ContactDetailVm.ContactDetailTypeSelectList.ContactDetailTypes, "Id", "Name"))">
                        <option value="">--- Select New Contact Type ---</option>
                    </select>
                    <span asp-validation-for="NewContactForReceiverBranch.ContactDetailVm.ContactDetailTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewContactForReceiverBranch.ContactDetailVm.ContactDetailValue" class="control-label"></label>
                    <input asp-for="NewContactForReceiverBranch.ContactDetailVm.ContactDetailValue" class="form-control" />
                    <span asp-validation-for="NewContactForReceiverBranch.ContactDetailVm.ContactDetailValue" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
