@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Service Response Error";
    var refererUrl = HttpContextAccessor.HttpContext.Request.Headers["Referer"].ToString();

}

<h1>Error</h1>

<p>@ViewBag.ErrorMessage</p>

@if (!string.IsNullOrEmpty(refererUrl))
{
    <a href="@refererUrl">Return to the last page</a>
}
else
{
    <a href="@Url.Action("Index", "Home")">Go back to Home</a>
}