@model SupplyTrackerMVC.Application.ViewModels.DeliveryVm.NewDeliveryVm

@{
    ViewData["Title"] = "NewDelivery";
}

<h1>NewDelivery</h1>

<h4>NewDeliveryVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewDelivery">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DeliveryDataTime" class="control-label"></label>
                <input asp-for="DeliveryDataTime" class="form-control" />
                <span asp-validation-for="DeliveryDataTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedSenderId" class="control-label"></label>
                <select asp-for="SelectedSenderId" class="form-control" asp-items="@(new SelectList(Model.Senders.Senders, "Id", "Name"))">
                    <option value="">--- Select Sender ---</option>
                </select>
                <span asp-validation-for="SelectedSenderId" class="text-danger"></span>
            </div>

            <!-- Testing Dropdown Display and selection -->

            <div class="form-group">
                <label asp-for="SelectedReceiverId" class="control-label"></label>
                <select asp-for="SelectedReceiverId" class="form-control" asp-items="@(new SelectList(Model.Receivers.Receivers, "Id", "Name"))">
                    <option value="">--- Select Receiver ---</option>
                </select>
                <span asp-validation-for="SelectedReceiverId" class="text-danger"></span>
            </div>

            <!-- End of tests -->

            <div class="form-group">
                <label asp-for="SelectedReceiverBranchId" class="control-label"></label>
                <select asp-for="SelectedReceiverBranchId" class="form-control" asp-items="@(new SelectList(Model.ReceiverBranches.ReceiverBranches, "Id", "BranchAlias", "BranchInternalID"))">
                    <option value="">--- Select Product ---</option>
                </select>
                <span asp-validation-for="SelectedReceiverBranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedProductId" class="control-label"></label>
                <select asp-for="SelectedProductId" class="form-control" asp-items="@(new SelectList(Model.Products.Products, "Id", "ChemicalSymbol"))">
                    <option value="">--- Select Product ---</option>
                </select>
                <span asp-validation-for="SelectedProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDeliveryWeight" class="control-label"></label>
                <input asp-for="ProductDeliveryWeight" class="form-control" />
                <span asp-validation-for="ProductDeliveryWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/receiverBranchLoader.js"></script>
}
