.my-table {
    table-layout: fixed;
}

.contacts-table th:nth-child(1),
.contacts-table td:nth-child(1) {
    width: 10%;
}

.contacts-table th:nth-child(2),
.contacts-table td:nth-child(2) {
    width: 30%;
}


.receiver-branches-table th:nth-child(1),
.receiver-branches-table td:nth-child(1) {
    width: 10%;
}

.receiver-branches-table th:nth-child(2),
.receiver-branches-table td:nth-child(2) {
    width: 30%;
}
